@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,700&family=Roboto:wght@300;400;500&display=swap");

:root {
  --primary-dark: #25b5ee;
  --primary-light: #789dff;
  --icon-color: #682b27;
}
.icon {
  color: var(--icon-color);
}
@layer base {
  body {
    @apply font-[Poppins] text-xl;
  }
  li {
    @apply px-4 py-2;
  }
  h1 {
    @apply text-3xl md:text-4xl font-bold font-[Roboto];
  }
  h2 {
    @apply text-3xl font-bold;
  }
  h3 {
    @apply text-xl font-bold;
  }
  button {
    @apply p-3 border hover:text-red-500 bg-gradient-to-r from-[var(--primary-dark)] to-[var(--primary-light)] text-white rounded-md;
  }
  .icon {
    @apply text-3xl cursor-pointer;
  }

  th {
    @apply border font-normal  bg-gradient-to-r from-[var(--primary-dark)] to-[var(--primary-light)] text-white;
  }
  @layer components {
    .animate {
      display: flex;
      animation: scroll 20s linear infinite;
    }
    .animate:hover {
      animation-play-state: paused;
    }

    @keyframes scroll {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translate(-50%);
      }
    }
  }
}
